@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-neutral: #0b1130;
  --bg-neutral: #0b1130;
}

body {
  @apply font-sans bg-white text-neutral;
  color: var(--text-neutral);
}

.text-neutral {
  color: var(--text-neutral);
}


h1 {
  font-family: garamond;
  font-size: 2.25rem;
}

#logo-text {
  font-family: garamond;
  font-size: 3rem;
}

h2 {
  font-family: garamond;
  font-size: 1.875rem;
}

p {
  font-family: Helvetica, sans-serif;
  color: var(--text-neutral);

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#userEdit {
  background-color: #F1F5F9;
  border: 1px solid #0b1130;
  margin: 8px 0;
  /* Add border-style (solid) */
  border-radius: 5px;
}